services:
  db:
    image: postgres:17-alpine
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: >
      sh -c "
      sleep 30 &&
      python manage.py migrate --noinput &&
      python manage.py loaddata fixtures/roles.json fixtures/users.json fixtures/business_resources.json fixtures/business_objects.json fixtures/access_rules.json &&
      python manage.py runserver 0.0.0.0:8000
      "

volumes:
  pg_data:
